@font-face {
    font-family: 'Homa';
    src: url('src/css/fonts/Homa.eot') format('eot'), url('src/css/fonts/Homa.woff') format('woff'), url('src/css/fonts/Homa.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: Homa;
    direction: rtl;
}

.active-navlink {
    color: white
}